<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<title>{{ .Title }}</title>
			<link rel="stylesheet" type="text/css" href="/static/main.css">
			</head>
			<body>
				<div class = "centered">
		            <form action="/commitchanges/{{.Type}}" method="POST">
					{{if .Student}}
                    {{.Content}}
					{{end}}

					{{if .Teacher}}
					{{.Content}}
					{{end}}

					{{if .Class}}
					{{.Content}}
					{{end}}
					
					<div><input type="submit" value="Save"></div>
					</form>
					
					</div>
				</body>
			</html>