html{
    scroll-behavior: smooth;

}
body{
  font-family:helvetica;
  font-weight:300;
  margin:0;
  background-color: #F5F5F5;
  display:block;
  font-size: 1.1rem;



}

.container{

  display: block;
  margin:0 auto;
  padding: 1rem;
  max-width: 100rem;
  background-color: #555555;
  border-bottom-color:#a49190;
  border-top: #555555;
  border-left: #555555;
  border-right: #555555;
  border-style: solid;
  border-width: 10px;
  padding-bottom:.75rem;



}



header h1 {
  font-weight: 800;
  font-family:helvetica;
  color:white;
  text-align: center;
  font-size: 90px;
  text-decoration:underline;
  padding: 0;
  margin: 0;

}
.ActionButtions{
  text-decoration-color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}


#Search{
  color: red;
  border: 2px solid red;

}

#Search:hover{
  color: orange  
  border: 2px solid red;

}

#Create{
  color: blue;
  border: 2px solid blue;
}

#Update{
  color: green;
  border: 2px solid green;

}

#Delete{
  color: purple;
  border: 2px solid purple;

}

article{
  display: block;
}
.main{
  display: block;
  margin:0 auto;
  padding: 1rem;
  max-width: 50rem;

}
.HeaderForContent{
  max-width:40rem;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;



}

